{% extends '../base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="film-detail">
  <div
    class="cover"
    style="
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('{{ film.url_banner }}');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    "
  >
    <div class="container">
      <h1>{{film.name}}</h1>
      <p>
        author: <strong>{{ film.director }}</strong> 
      </p>
      <p>Genre:
        <strong>{{ film.genre }}</strong>
      </p>
      <p>Rating <strong>{{ film.rating }}</strong></p>
      <p>
        {{ film.description }}
      </p>
      <a href="{{film.url_film}}" class="btn btn-light">Watch</a>
    </div>
  </div>

  <div id="film">
    <iframe
      width="80%"
      height="400"
      src="{{film.url_film}}"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>
{% else %}
<div class="container mt-5 mb-5">
  <div class="card-body">
    <div class="alert alert-warning mb-5" role="alert">
      <p>Before watch films, login or registry</p>
    </div>
    <a href="" class="btn btn-primary">Sign Up</a>
    <a href="" class="btn btn-primary">Login</a>
  </div>
</div>
{% endif %}
{% endblock %}