{% extends '../base.html' %}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
  <div class="text-primary">
    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-film" viewBox="0 0 16 16">
      <path d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm4 0v6h8V1zm8 8H4v6h8zM1 1v2h2V1zm2 3H1v2h2zM1 7v2h2V7zm2 3H1v2h2zm-2 3v2h2v-2zM15 1h-2v2h2zm-2 3v2h2V4zm2 3h-2v2h2zm-2 3v2h2v-2zm2 3h-2v2h2z"/>
    </svg>          
  </div>
  <h1 class="display-5 fw-bold text-primary">Films</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 text-black">smotri tolko u nas</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      {% if not user.is_authenticated %}
      <a href="{% url 'sign_up_page' %}" class="btn btn-primary btn-lg px-4 gap-3">Sign up</a>
      <a href="{% url 'login_page' %}" class="btn btn-outline-primary btn-lg px-4">Login</a>
      {% else %}
      <a href="{% url 'top_films_page' %}" class="btn btn-outline-primary btn-lg px-4">Watch</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}